.footer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 60px;
  .go-back {
    display: block;
    cursor: pointer;
    font-size: 16px;
    color: var(--Grey);

    &:hover {
      color: var(--Denim);
    }
  }
}

.footer-only-next {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: right;
  margin-top: 60px;
}
