.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 138px;
  height: 160px;
  border: 1px solid var(--BorderColor);
  border-radius: 7px;
  padding: 15px;
  cursor: pointer;

  &:hover {
    border: 1px solid var(--Purple);
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 7px;
    h3 {
      color: var(--Denim);
    }

    p {
      color: var(--Grey);
    }
  }
}

input {
  display: none;

  &[id="Arcade"]:checked ~ label[for="Arcade"] .card {
    background-color: var(--VeryLightGrey);
    border: 1px solid var(--Purple);
    border-radius: 7px;
  }
  &[id="Advanced"]:checked ~ label[for="Advanced"] .card {
    background-color: var(--VeryLightGrey);
    border: 1px solid var(--Purple);
    border-radius: 7px;
  }
  &[id="Pro"]:checked ~ label[for="Pro"] .card {
    background-color: var(--VeryLightGrey);
    border: 1px solid var(--Purple);
    border-radius: 7px;
  }
}
