.personal-info-container {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding: 80px 100px;
  width: 100%;
  height: 100%;
  .personal-info-header {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 15px;
    h1 {
      color: var(--Denim);
      -webkit-text-stroke: 1px black;
    }
    h3 {
      color: var(--Grey);
    }
  }
  .personal-info-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 50px;
    gap: 25px;
    .personal-info-form-item {
      display: flex;
      flex-direction: column;
      gap: 12px;
      .input {
        height: 50px;
        border-radius: 10px;
        padding: 0 17px;
        border: 1px solid var(--BorderColor);
        outline: none;
        &::placeholder {
          color: var(--Grey);
        }
      }

      label {
        color: var(--Denim);
        font-size: 14px;
      }
    }
  }
}
