.select-addons-options {
  display: flex;
  flex-direction: column;
  gap: 15px;
  input {
    display: none;

    &[id="online"]:checked ~ label[for="online"] .select-addons-card {
      background-color: var(--VeryLightGrey);
      border: 1px solid var(--Purple);
      border-radius: 7px;
      transition: all 0.4s ease-in-out;
    }
    &[id="online"]:checked ~ label[for="online"] .checkbox {
      background-color: var(--Purple);
      border: none;
      transition: all 0.4s ease-in-out;
    }
    &[id="storage"]:checked ~ label[for="storage"] .select-addons-card {
      background-color: var(--VeryLightGrey);
      border: 1px solid var(--Purple);
      border-radius: 7px;
      transition: all 0.4s ease-in-out;
    }
    &[id="storage"]:checked ~ label[for="storage"] .checkbox {
      background-color: var(--Purple);
      border: none;
      transition: all 0.4s ease-in-out;
    }
    &[id="profile"]:checked ~ label[for="profile"] .select-addons-card {
      background-color: var(--VeryLightGrey);
      border: 1px solid var(--Purple);
      border-radius: 7px;
      transition: all 0.4s ease-in-out;
    }
    &[id="profile"]:checked ~ label[for="profile"] .checkbox {
      background-color: var(--Purple);
      border: none;
      transition: all 0.4s ease-in-out;
    }
  }

  .select-addons-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--BorderColor);
    width: 450px;
    height: 80px;
    padding: 20px;
    border-radius: 7px;
    cursor: pointer;

    .addons-checkbox-and-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
    }

    .checkbox {
      position: relative;
      height: 19px;
      width: 19px;
      border: 1px solid var(--BorderColor);
      border-radius: 4px;

      img {
        position: absolute;
        top: 4.5px;
        left: 4.5px;
        width: 10px;
      }
    }

    .price {
      color: var(--Purple);
      font-size: 14px;
    }

    .addons-info {
      display: flex;
      flex-direction: column;
      gap: 10px;
      h3 {
        color: var(--Denim);
      }
      p {
        color: var(--Grey);
        font-size: 14px;
      }
    }
  }
}
